
.custom-button{
    border-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient( #d3036e, #bb0b8d);
    min-width: 8rem;
    border: unset;
    font-size: 0.875rem;
}
.custom-button{
    border-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient( #d3036e, #bb0b8d);
    min-width: 8rem;
    border: unset;
    font-size: 0.875rem;
}