
@import "bootstrap/dist/css/bootstrap.min.css";
@import "variables.scss";

.custom-button-primary{
    border-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background: $primary-color;
    min-width: 10rem;
    border: unset;
    font-size: 0.875rem;
    &:hover{
        opacity: .7;
    }
}

.custom-button-secondary{
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background: transparent;
    min-width: 10rem;
    border: 1px solid #4c3c49;
    font-size: 0.875rem;
    &:hover{
        background-color: transparent !important;
        border-color: #938490 !important;
    }
}