
$primary-color: linear-gradient(90deg, rgba(221,2,107,1) 0%, rgba(201,4,132,1) 50%, rgba(184,7,159,1) 100%);
$primary-color-1: linear-gradient(0deg, rgb(156,67,227) 0%, rgb(166,43,159) 50%, rgb(190,6,114) 100%);
$primary-color-2: linear-gradient(90deg,rgb(29,8,35) 0%,  rgb(61,7,46)  100%);